<div class="container">
    

    <app-host-lestner [title]="'YouCode ZOO '"></app-host-lestner>
    <div class="row">

        <app-small-card  class="col-lg-4 my-4  " [title]="'NB Animals'" [numberOf]="animalsTable.length"></app-small-card>


        <app-small-card class="col-lg-4 my-4  " [title]="'NB Animals Is Alive'" [numberOf]="animalsIsAlive.length">
        </app-small-card>
        <app-small-card class="col-lg-4 my-4  " [title]="'NB Animals Is Hangry'" [numberOf]="animalsHangry.length">
        </app-small-card>


    </div>
    <app-card></app-card>

</div>